#counter {
	font-size: 150px;
}

body {
	background: url(books.jpeg);
	background-size: cover;
	background-position: center;
}

#decrease-btn,
#increase-btn,
#reset-btn {
	box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
}

.max-height {
	min-height: 100vh;
}

.box {
	background: rgba(255,255,255,0.5);
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
}

#content {
	font-family: Nunito;
	color: black;
}


